[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=morzyn
Exec=/usr/bin/single-instance /opt/morzyn/bin/morzyn
Icon=/usr/share/icons/hicolor/80x80/apps/morzyn80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
