[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Morzyn
Icon=/usr/share/icons/hicolor/90x90/apps/morzyn.png
Exec=morzyn
